extends ../../layouts/default.pug
include ../../mixins/show-Alert.pug

block main 
    +showAlertError(5000)
    h1(class="mb-4") Thêm mới sản phẩm

    
    form(
        action=`${prefixAdmin}/products/create`
        id="form-create-product"
        enctype="multipart/form-data"
        method = "POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                autocomplete="off"
                type="text"
                class="form-control"
                id="title"
                name="title"

            )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                autocomplete="off"
                class="form-control"
                id="desc"
                rows="5"
                name="description"
            )
        div(class="form-group")
            label(for="price") Giá
            input(
                autocomplete="off"
                class="form-control"
                id="price"
                name="price"
                value="0"
                min="0"
                type="number"
            )
        div(class="form-group")
            label(for="brand") Thương hiệu
            input(
                autocomplete="off"
                class="form-control"
                id="brand"
                name="brand"
                type="text"
            )
        div(class="form-group")
            label(for="stock") Số lượng
            input(
                autocomplete="off"
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value='0'
                min='0'
            )
        div(class="form-group" upload-img)
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept= "image/*"
                upload-img-input
            )
            img(src="" upload-img-preview class="image-preview")
        div(class="form-group")
            label(for="position") Vị trí
            input(
                autocomplete="off"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                type="number"
            )
        div(class="form-group form-check form-check-inline")
            input(
                autocomplete="off"
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
        )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-chekc-inline")
            input(
                
                class="form-check-input"
                name="status"
                value="inactive"
                type="radio"
                id="statusInActive"
        )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
    script(src="/JS/admin/scripts.js") 